@media (max-width: 800px){

    header{
        flex-direction: column;
    }
    .service{
/*        flex-direction: row;    */
        width: 100%;
    }
    .lower_row{
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    .main_content{
        width: 100%;
        border: none;
    }
    .id{
        width: 100%;    
    }
    .side_panel{
        display: block;
    }
}

@media (max-width: 650px){
    .service{
        display: none;
    }
}

/*sidebar*/

@media (min-width: 1300px){
    .header_card{
        font-size: 130%;
    }
}
@media (max-width: 1300px) and (min-width: 800px){
    .sidebar h2 {
        font-size: 130%;
    }

    .sidebar h3 {
        font-size: 100%;
    }

    .sidebar p {
        font-size: 80%;
    }
}
@media (max-width: 800px){
     .sidebar h2 {
        font-size: 100%;
    }

    .sidebar h3 {
        font-size: 80%;
    }

    .sidebar p {
        font-size: 60%;
    }
    .sidebar .card{
        padding: 10px;
    }
}