footer {
    width: 100%;
    background-color: #CDCBA4;
    text-align: center;
    display: block;
    padding: 20px 0 40px 0;
}

footer .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

footer .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 33%;
}

.icons {
    min-width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.icons .icon:first-child{
    margin-left: 0;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: darkgoldenrod;
}

footer .card:not(:first-of-type)) {
    margin-top: 20px;
}

.build{
    width: 40%;
    margin-top: 20px;
}