body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 100%;
}
body{
    background-image: url(images/background1.jpg);
    background-repeat: repeat;
    color: white;
}
a:visited{
    color: white;
}
main {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.main_content {
    width: 70%;
    min-height: 100%;
    border-left: black solid 2px;
    padding-bottom: 100px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}    

.breadcrumbs li {
    display: inline-block;
    font-size: 120%;
}

article:not(:first-of-type){
    margin-top: 20px;
}

article{
    background-color: yellow;
    width: 80%;
    margin: auto;
    border: dotted 2px black;
    padding: 20px;
    text-align: center;
}

article .data{
    display: inline;
    text-align: end;
    font-style: oblique;
}
article h4{
    margin-top: 10px;
    margin-bottom: 0;
}
article h4 + p{
    margin-top: 5px;
}
