body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 110%;
}
body{
    background-image: url(images/background1.jpg);
    background-repeat: repeat;
    color: #00597B;
}

a{
    color: #00597B;
}
a:visited{
    color: #00597B;
}
main {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.main_content {
    padding-top: 50px;
    width: 70%;
    min-height: 100%;
    padding-bottom: 100px;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}    

.breadcrumbs li {
    display: inline-block;
    font-size: 120%;
}

article:not(:first-of-type){
    margin-top: 20px;
}

article{
    background-color: #008890;
    width: 80%;
    margin: auto;
    border: 2px dotted white;
    padding: 20px;
    text-align: center;
}

article .data{
    display: inline;
    text-align: end;
    font-style: oblique;
}
article h4{
    margin-top: 10px;
    margin-bottom: 0;
}
article h4 + p{
    margin-top: 5px;
}
