.sidebar {
    width: 30%;
    min-height: 100%;
    padding-top: 20px;
}

.sidebar .card {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.sidebar .card:not(:first-child) {
    margin-top: 20px;
}

.sidebar h2 {
    text-align: center;
    font-size: 150%;
}

.sidebar h3 {
    font-size: 120%;
}

.sidebar p {
    font-size: 100%;
}
.contacts ul{
    padding-left: 20px;
}

.side_panel{
    position: fixed;
    width: 80%;
    height: 60vh;
    top: 10%;
    background-color: aqua;
    border-radius: 0 10px 10px 0;
    padding: 2% 0 2% 0;
    transition: 1s all ease-out;
    display: none;
    -ms-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
    z-index: 1;
}

.flag{
    writing-mode: vertical-rl;
    position: absolute;
    top: 1%;
    right: 0;
    padding: 2% 1% 2% 0;
    transform: translateX(99%);
    background-color: aquamarine;
    border-radius: 0 10px 10px 0;
}
.showed{
    transform: translateX(-100%);
}